<div style="text-align:center">
  <h1>- Truth or Dare? -</h1>
</div>

<div class="container">

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <div id="accordion" role="tablist">
          <div class="card-deck">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <div id="card_title_1" data-toggle="collapse" href="#rule" aria-expanded="false" aria-controls="rule"
                    class="collapsed">
                    <i class="fas fa-info-circle info-color fa-lg fa-fw"></i>Infomation
                  </div>
                </h5>
              </div>
              <div id="rule" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  真実か挑戦か- Truth or Dare? -
                  <ul>
                    <li>お互いにカードを引き合う．</li>
                    <li>カードの数字がより大きい方を引いた者が勝者となり，その一方は敗者となる．ただし，Ace(1)についてはKing(13)よりも大きい数字として扱う．</li>
                    <li>引いたカードの数字が同じ場合は，再度お互いにカードを引く．</li>
                    <li>勝者は敗者に対し，任意の質問をし，「真実」か「挑戦」かを選択させる．</li>
                    <li>敗者が「真実」を選択した場合，敗者は勝者の質問に対し，必ず嘘偽りの無い真実を語らなければならない．</li>
                    <li>敗者が「挑戦」を選択した場合，勝者は敗者に対して任意の命令を下し，敗者はその命令を必ず実行しなければならない．</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <div *ngIf="!click_flg; then btnBlock; else resultBlock"></div>
              <ng-template #btnBlock><button type="button" class="btn btn-outline-danger" (click)="draw('first')">カードを引く</button></ng-template>
              <ng-template #resultBlock><button class="btn btn-outline-danger" disabled>結果</button></ng-template>
              <span id="result"></span>
            </div>
            <div class="card-body">
              <div style="text-align:center">
                <p id="insert"></p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div *ngIf="!click_flg2; then btnBlock2; else resultBlock2"></div>
              <ng-template #btnBlock2><button type="button" class="btn btn-outline-info" (click)="draw('second')">カードを引く</button></ng-template>
              <ng-template #resultBlock2><button class="btn btn-outline-info" disabled>結果</button></ng-template>
              <span id="result2"></span>
            </div>
            <div class="card-body">
              <div style="text-align:center">
                <p id="insert2"></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="click_flg && click_flg2"><button type="button" class="btn btn-success" (click)="reset()">Again</button></div>
    </div>
  </div>
</div>